@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animation";
@import "base/button";
@import "base/base";

@import "layout/grid";

.service_area {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  height: 90vh;
  background-size: cover;
  text-align: center;

  .main-container {
    padding-left: 43vw;
    margin-right: auto;
    margin-left: auto;
  }

  .section_title {
    span {
      position: relative;
      z-index: 3;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 3px;
      color: #001d38;
      text-transform: uppercase;
      margin-bottom: 14px;
      display: block;
      padding-top: 14px;
      &:before {
        position: absolute;
        height: 60px;
        width: 1px;
        background: $color-primary;
        content: "";
        left: 50%;
        bottom: 100%;
      }
    }
    h3 {
      position: relative;
      z-index: 0;
      padding-bottom: 15px;

      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      background-image: linear-gradient(
        to right,
        $color-header-light,
        $color-header-dark
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      letter-spacing: 0.2rem;
      transition: all 0.2s;
    }
  }
  .mb-50 {
    margin-bottom: 50px;
  }
}

.container {
  position: relative;
  margin-left: 40px;
  width: 91.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  background: $color-grey-light-1;
}

.container .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: linear-gradient(
    to right,
    rgba($color-primary-light, 0.8),
    rgba($color-primary, 0.8)
  );

  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0, 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.container .card:hover {
  height: 420px;
}

.container .card .imgBx {
  position: relative;
  max-width: 100%;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 25px;
  z-index: 1;
  box-shadow: 0, 5px 202px rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
  width: 26rem;
  height: 26rem;
  margin-left: -10px;
  max-width: 100%;
  border-radius: 4px;
  z-index: -100;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  font-size: medium;
  text-align: center;
  color: #111111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.2s;
}

.imgBx--img {
  background-blend-mode: screen;

  background: linear-gradient(
    to right bottom,
    rgba($color-quaternary-light, 0.85),
    rgba($color-quaternary-dark, 0.85)
  );

  z-index: 2000px;
}
