@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/animation";
@import "../base/button";
@import "../base/base";

@import "../layout/grid";

.section-about {
  background-color: $color-grey-light-1;
  padding: 13rem 0;
  height: 81vh;

  @include respond(tab-land) {
    height: 130vh;
  }

  @include respond(tab-port) {
    height: 100vh;
  }

  @include respond(phone) {
    height: 111vh;
  }

  & .about-container {
    padding-left: 35vw;
    margin-right: auto;
    margin-left: auto;

    @include respond(tab-land) {
      padding-left: 0vw;
    }
  }

  span {
    position: relative;
    z-index: 3;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #001d38;
    text-transform: uppercase;
    margin-bottom: 14px;
    display: block;
    padding-top: 14px;
    &:before {
      position: absolute;
      height: 60px;
      width: 1px;
      background: $color-primary;
      content: "";
      left: 50%;
      bottom: 100%;
    }

    @include respond(tab-port) {
      margin-left: -0.4rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  // padding-bottom: 40px;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-header-light,
    $color-header-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  @include respond(phone) {
    font-size: 2rem;
  }

  /*
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
  */
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    font-size: 5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  @include respond(tab-port) {
    margin-top: -13rem;
    margin-left: -4rem;
  }

  @include respond(phone) {
    margin-left: 0rem;
  }
}

.paragraph {
  font-size: large;
  text-align: justify;
  line-height: 3.7rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  @include respond(tab-port) {
    margin-left: -2rem;
    padding: 0rem;
  }

  @include respond(phone) {
    margin-left: 0rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.about-me {
  margin-top: 10rem;
  margin-left: 0rem;
}

.about-emoji {
  width: 25rem;
  height: 25rem;

  @include respond(phone) {
    width: 20rem;
    height: 20rem;
    margin-left: -3.2rem;
  }
}
