@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/animation";
@import "../base/button";
@import "../base/base";

.body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 0.2rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($color-header-dark, 0.2),
      rgba($color-header-light, 0.2)
    ),
    url(../../../img/pic1-1-1.png);

  background-size: cover;
  background-position: center;
  background-position-y: -10rem;
  position: relative;

  @include respond(tab-port) {
    background-position-y: 0;
  }

  &__logo-box {
    position: fixed;
    top: 4.7rem;
    left: 4rem;
    z-index: 2000;
  }

  &__logo {
    height: 4.5rem;

    @include respond(phone) {
      height: 3.5rem;
    }
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
  }
}

.primary {
  color: $color-surname;
  animation: moveInLeft 1s ease-in;
  backface-visibility: hidden;
  font-size: x-large;

  &--main {
    color: $color-white;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-in;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    color: $color-surname;
    position: relative;
    border: 0px solid #ddd;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    animation: moveInRight 1s ease-in;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }

    & span {
      animation: intrests 10s ease infinite;
      position: relative;
      color: $color-intrests;
    }
  }
}
