@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar {
  background-color: $color-nav-scrolltotop;
  height: 6rem;
  width: 3rem;
  border-radius: 50%;

  top: 4.5rem;
  right: 5.4rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  align-items: center;
  position: fixed;
  z-index: 2000;

  @include respond(phone) {
    position: fixed;
    top: 4.5rem;
    right: 3rem;
    height: 4rem;
    width: 1rem;
  }
}

.menu-bars {
  margin-right: -1.1rem;
  margin-top: 0.6rem;
  font-size: 2.5rem;
  background: none;
  padding-right: 0rem;
  color: $color-white;

  @include respond(phone) {
    font-size: 1.8rem;
    margin-right: -1.9rem;
  }
}

.nav-menu {
  background-color: $color-nav-scrolltotop;
  width: 25rem;
  height: 120vh;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 2000;

  &.active {
    left: 143.375rem;
    transition: all 0.5s ease-in-out;

    @include respond(tab-port) {
      left: 52.375rem;
    }

    @include respond(tab-land) {
      left: 90.375rem;
    }

    @include respond(big-desktop) {
      left: 157.375rem;
    }

    @include respond(phone) {
      left: 21.375rem;
    }
  }
}

.nav-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0px 8px 6px;
  list-style: none;
  height: 60px;

  & a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1px 1px;

    &:hover {
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 215%;
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      translate: translateX(1rem);
    }
  }
}

.nav-menu-items {
  width: 100%;
  margin-top: 4.3rem;
}

.navbar-toggle {
  background-color: $color-nav-scrolltotop;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17px;
}

span {
  margin-left: 16px;
}

//Page slider
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  // transition: opacity 2s;
  transform: translateY(12rem);
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  // transition: opacity 200ms;
}
