@import "../abstracts/variables";
@import "../abstracts/mixins";

@import "../base/animation";
@import "../base/button";
@import "../base/base";

@import "../layout/grid";

.section-portfolio {
  background-color: $color-white;
  padding: 12rem 0 59rem 0;
  margin-top: 0rem;
  margin-bottom: -50rem;
  height: 85vh;
}

.u-margin-top-big {
  margin-bottom: 8rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  // padding-bottom: 40px;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-header-light,
    $color-header-dark
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}

.section_title {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001d38;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.card {
  //Functionality

  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-quaternary-light,
          $color-quaternary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  //Front side Styling
  &__picture {
    background-size: cover;
    height: 26rem;
    background-blend-mode: color;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../../../img/port-1.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../../../img/port-2.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-quaternary-light,
          $color-quaternary-dark
        ),
        url(../../../img/port-3.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    position: absolute;
    top: 18rem;
    right: 0.2rem;
    width: 55%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-quaternary-light, 0.85),
        rgba($color-quaternary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 1rem;
    p {
      text-align: center;
      padding: 1rem;
      font-size: large;
      line-height: 3.7rem;

      font-weight: 500;
      text-align: center;
      width: 80%;
      margin: 0 auto;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }

  //Back side styliing
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    text-align: center;
  }
  &__stack-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__stack-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__stack-value {
    font-size: 6rem;
    font-weight: 100;

    &--value-3 {
      font-size: 3rem;
    }
  }
}

.u-margin-top-huge {
  margin-bottom: 10rem;
}

/*

//New cards

.port-container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 32rem;
}

.port-container .port-card {
  position: relative;
  height: 250px;
  background: $color-primary;
  display: flex;
  width: 45%;

  margin: 30px 0;
}

.port-img {
  width: 45rem;
  height: 45rem;
}

//HERE!
.port-container .port-card .port-imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      $color-secondary-light,
      $color-secondary-dark
    ),
    url(../../../img/logo.JPG);

  //background-image: url(../../../img/port-1.jpg);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.port-container .port-card:hover .port-imgBx {
  width: 150px;
  height: 150px;
  left: -75px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  
}

  .port-container .port-card .port-imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(225, 225, 225, 0.05);
    font-weight: 700;
  }
  
  .port-container .port-card .port-imgBx img {
    max-width: 750px;
    max-height: 750px;
    transition: 0.5s ease-in-out;
  }
  
  .port-container .port-card:hover .port-imgBx img {
    max-width: 750px;
    max-height: 750px;
  }
  
  .port-container .port-card .port-content {
    position: absolute;
    left: 10rem;
    top: 5rem;
    // width: calc(100% - 100px);
    height: 100%;
    margin-bottom: 9rem;
    padding-right: 2.5rem;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-self: center;
    display: inline-block;
  
    text-align: left;
  }
  
  .port-container .port-card .port-content h3 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  
  .port-container .port-card .port-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 1.2rem 2rem;
    background: #333;
    text-decoration: none;
    color: #fff;
  }

*/
