@import "../abstracts/variables";
@import "../abstracts/mixins";

.scroll-to-top {
  position: fixed;
  bottom: 4.2rem;
  left: 93%;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background: $color-nav-scrolltotop;
  color: $color-white;
  z-index: 3000;

  @include respond(tab-land) {
    left: 91.5%;
  }

  @include respond(tab-port) {
    left: 89.5%;
  }

  @include respond(phone) {
    width: 4rem;
    height: 4rem;
    left: 83%;
    font-size: small;
  }

  & .icon {
    margin-top: 0.9rem;
    justify-content: center;
    animation: scrollTop 0.5s alternate ease infinite;
    font-size: medium;

    @include respond(phone) {
      font-size: medium;
    }
  }
}
