@import "../abstracts/variables";
@import "../abstracts/mixins";

.scroll-to-top {
  position: fixed;
  bottom: 4.2rem;
  left: 93%;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background: $color-nav-scrolltotop;
  color: $color-white;
  z-index: 1;

  @include respond(tab-land) {
    left: 86%;
  }

  @include respond(phone) {
    width: 4rem;
    height: 4rem;
    left: 69%;
    font-size: small;
  }

  & .icon {
    margin-top: 1rem;
    justify-content: center;
    animation: scrollTop 0.5s alternate ease infinite;
    font-size: xx-large;

    @include respond(phone) {
      font-size: medium;
    }
  }
}
