// Colors
$color-primary: #008c77;
$color-primary-light: #abd1c9;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-header-light: #2b6296;
$color-header-dark: #001d38;

$color-btn-blue: #0f3959;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light: #97bc62ff;
$color-quaternary-dark: #2c5f2d;

$color-grey-dark: #777;
$color-grey-dark-1: #333;
$color-white: #fff;
$color-black: #000;
$color-surname: #eeb238ff;
$color-intrests: #e58e26;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
