// Colors
//General
//Header 449dd1
$color-header-light: #449dd1;
$color-header-dark: #449dd1;

$color-primary: #f0d4a8;
$color-primary-light: #f0d4a8;
$color-surname: #e58e26;
$color-intrests: #e58e26;
$color-grey-dark: #777;
$color-grey-dark-1: #333;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-header-light: #449dd1;
$color-header-dark: #2b6296;

//Contact men page
$color-box: #449dd1;

//buttons
$color-btn-blue: #449dd1;
$color-btn-dark-green: #449dd1;

//Navbar & Scrolltotop
$color-nav-scrolltotop: #449dd1;

//Why-hire-me
$color-bck-gnd-light: #f0d4a8;
$color-bck-gnd-dark: #f0d4a8;

//Portfolio
$color-secondary-light: #dd7230;
$color-secondary-dark: #dd7230;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light: #97bc62ff;
$color-quaternary-dark: #2c5f2d;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-x-small: 4rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
